In [1]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

In [2]:
#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

In [3]:
# Giving the name of website we have to  scrap
url = "https://www.naukri.com/"

In [4]:
#Getting Url 
driver.get(url)

In [5]:
time.sleep(5)

In [6]:
name  = []
designation  = []
company  = []
skills   = []
location = []

In [7]:
time.sleep(5)

In [8]:
driver.switch_to_window(driver.window_handles[1])

In [9]:
driver.close()

In [10]:
time.sleep(5)

In [11]:
driver.switch_to_window(driver.window_handles[1])

In [12]:
driver.close()

In [13]:
driver.switch_to_window(driver.window_handles[0])

In [14]:
time.sleep(3)

In [15]:
Task1 = driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()

In [16]:
time.sleep(3)

In [17]:
Task2 = driver.find_element_by_xpath("//div[@class='userPrompt animate']//span[1]")
Task2.click()

In [18]:
time.sleep(3)

In [19]:
Task3 = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div")
Task3.click()

In [20]:
time.sleep(3)

In [21]:
driver.switch_to_window(driver.window_handles[1])

In [22]:
time.sleep(3)

In [23]:
Task4 = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
Task4.send_keys('Data Science')

In [24]:
time.sleep(3)

In [25]:
Task5 = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
Task5.click()

In [26]:
time.sleep(3)

In [27]:
Task7 = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='fl ellipsis']")
Task7[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="7e38f75f-6f92-4bd5-afd6-288f3c2d94d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="734564e8-3a84-42b0-942a-5545f570a305")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="20c52bb0-1fc9-45cf-add0-962bba49a307")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="99a37482-7133-4c55-81a4-ffa89a68ddce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="ed6323a1-32db-46c9-b158-3ddad0dc2223")>]

In [28]:
for qw in Task7:
    we  = qw.text
    name.append(we)
name[0:5]

['Aakash Harit',
 'shravan Kumar Gaddam',
 'Talent Acquisition Executive',
 'Anik Agrawal',
 'MARSIAN Technologies LLP']

In [29]:
name1 = pd.DataFrame(name)
name2 = name1.rename({ 0 : 'Name'} , axis = 1 )
name2[0:5]

                           Name
0                  Aakash Harit
1          shravan Kumar Gaddam
2  Talent Acquisition Executive
3                  Anik Agrawal
4      MARSIAN Technologies LLP

In [30]:
time.sleep(5)

In [31]:
Task8 = driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")
Task8[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="bcc5d573-cf19-4cf8-b97f-beb61dc02b21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="2b23323c-b7e9-4d48-a2eb-84f21afb3abe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="91907673-a728-406c-bbaf-8dd67fb5c4bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="3db0fe46-90d3-415f-8fb4-62a9e3fbcafc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="02a2ba36-7b61-411c-bc97-e575aff63858")>]

In [32]:
time.sleep(3)

In [33]:
for rt in Task8:
    yu = rt.text
    designation.append(yu)
designation[0:5]

['HR Manager',
 'Company Recruiter',
 'Recruitment Professional',
 'Company Recruiter',
 'Company HR']

In [34]:
designation1 = pd.DataFrame(designation)
designation2= designation1.rename({0 : 'Designation'}, axis=1  )
designation2[0:5]

                Designation
0                HR Manager
1         Company Recruiter
2  Recruitment Professional
3         Company Recruiter
4                Company HR

In [35]:
Task9 = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
Task9[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="51b2add5-2f14-42e7-a3be-93fb2d147177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="8b6c7556-be2d-451e-a0e5-e4c2b23b6f06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="90c1b72b-4c3e-40c6-a193-9dc7f0340984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="4ead4541-3b22-4c24-9457-42ee5af69b15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="4b68cd94-30c3-4d4b-853e-3f3faabc9e27")>]

In [36]:
for yu in Task9:
    ui = yu.text
    company.append(ui)
company[0:5]

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'XenonStack',
 'Enerlytics Software Solutions Pvt Ltd',
 'MARSIAN Technologies LLP']

In [37]:
company1 = pd.DataFrame(company)
company2= company1.rename({0 : 'Company Name'}, axis=1  )
company2[0:5]

                            Company Name
0                   Data Science Network
1          Shore Infotech India Pvt. Ltd
2                             XenonStack
3  Enerlytics Software Solutions Pvt Ltd
4               MARSIAN Technologies LLP

In [38]:
Task10 = driver.find_elements_by_xpath("//div[@class='recInfo']//div[@class='hireSec highlightable']")
Task10[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="15118858-5db4-465c-9477-d56b25d5f7b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="3bc04fc3-e111-40fe-9039-db41e1dbccab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="9e01ff5b-9eff-410e-ac84-d4b0ae5bf1ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="8b0d2e64-17c1-483f-8152-524990f2cce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="acedac7f-5afa-458e-a9f4-ee84f9f8629a")>]

In [39]:
for yu in Task10:
    ui = yu.text
    skills.append(ui)
skills[0:5]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Web Designing, html5, Angular.js, seo, hadoop, Cloud Computing, python, Iphone Development, java, Machine Learning, aws, analytics, linux, puppet',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics']

In [40]:
skills1 = pd.DataFrame(skills)
skills2 = skills1.rename( columns = { 0 : 'Skills They Hire '})
skills2

                                    Skills They Hire
0   Classic ASP Developer, Internet Marketing Prof...
1   .Net, Java, Data Science, Linux Administration...
2   Web Designing, html5, Angular.js, seo, hadoop,...
3   Mean Stack, javascript, angularjs, mongodb, We...
4   Data Science, Artificial Intelligence, Machine...
5   Hadoop, Spark, Digital Strategy, Data Architec...
6   Python, Data Science, .Net, Java, Big Data, Da...
7   Analytics, Business Intelligence, Business Ana...
8                                        Data Science
9   Machine Learning, algorithms, Go Getter, Compu...
10  Technical Training, Software Development, Pres...
11  Software Development, It Sales, Account Manage...
12  Qa, Ui/ux, Java Developer, Java Architect, C++...
13  Business Intelligence, Data Warehousing, Data ...
14  Office Administration, Hr Administration, tele...
15  Telecalling, Client Interaction, Marketing, Re...
16     Big Data, Hadoop, Data Analytics, Data Science
17                                       Data Science
18                     Ites, Data Science, Cloud, Iot
19  Social Media, digital media maketing, seo, smm...
20  Corporate Sales, Software Development, Softwar...
21  Data Analytics, Data Science, Machine Learning...
22  Data Science, Machine Learning, Python, R, Dee...
23  Data Science, Artificial Intelligence, Machine...
24  B.tech, Hr Mba, quality assurance engineering,...
25  Big Data, Data Science, Artificial Intelligenc...
26  Java, Net, Angularjs, Hr, Infrastructure, Mana...
27  Software Architecture, Vp Engineering, Product...
28  mechatronics, robotics, Home Automation, iot, ...
29  Data Science, Hadoop, Rpas, Devops, Python, Aw...
30  Signal Processing, Machine Learning, Neural Ne...
31  Web Technologies, Project Management, Software...
32  Data Analytics, Managed Services, Team Leading...
33  Java, Python, Angularjs, Software Testing, Mac...
34  Data Science, Machine Learning, Big Data Analy...
35  Machine Learning, Artificial Intelligence, Dat...
36  C, C++, Artificial Intelligence, Python, Php, ...
37  Relationship Management, Retail Sales, Private...
38                 Data Science, Software Engineering
39  Data Science, Big Data Analytics, Digital Mark...
40                  Data Science, Recruitment, Salary
41  B.Tech, Tableau, Statistics, R, Analytics, Tim...
42  Software Development, Business Intelligence, B...
43                   Data Science, Node.js, Angularjs
44  Data Science, Media Marketing, Resource Planni...
45  Data Analysis, Learning, Data Science, Compute...
46  Java, Hadoop, R, Machine Learning, Spark, Flum...
47  Software Development, Core Java, Unit Testing,...
48  Machine Learning, Data Science, Product Manage...
49  consulting, Education Counseling, Educational ...

In [41]:
Task11 = driver.find_elements_by_xpath("//div[@class='recInfo']//div[@class='hireSec highlightable']")
Task11[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="15118858-5db4-465c-9477-d56b25d5f7b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="3bc04fc3-e111-40fe-9039-db41e1dbccab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="9e01ff5b-9eff-410e-ac84-d4b0ae5bf1ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="8b0d2e64-17c1-483f-8152-524990f2cce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4103080033d2b2ea3fcd788be4355fa", element="acedac7f-5afa-458e-a9f4-ee84f9f8629a")>]

In [42]:
field_list = []

In [44]:
# Getting location Data 
fields = driver.find_elements_by_xpath("//small[@class='ellipsis']")
for f in fields:
    field_list.append(f.text)

new_list = [x if x.strip() else None for x in field_list]

for f in new_list:
    print(f)

Delhi
Hyderabad / Secunderabad
Chandigarh
Ahmedabad
Pune
UK - (london)
Delhi
Vadodara / Baroda
Chennai
Trivandrum
Indore
Bengaluru / Bangalore
Hyderabad / Secunderabad
Bengaluru / Bangalore
Mumbai
Navi Mumbai
Bhopal
Cochin
Bengaluru / Bangalore
Hyderabad / Secunderabad
Delhi
Hyderabad / Secunderabad
Pune
Pune
Chandigarh
Pune
Pune
Bengaluru / Bangalore
Hyderabad / Secunderabad
Bengaluru / Bangalore
Delhi
Mysoru / Mysore
Noida
Hyderabad / Secunderabad
New Delhi
Chennai
Aligarh
Salt Lake City
Pune
Bengaluru / Bangalore
Mumbai
Indore
Bengaluru / Bangalore
MYSORE
Hyderabad / Secunderabad
Bengaluru / Bangalore
Mumbai
Noida